/* Reponsive-portfolio styling */
.navcolumn {
    margin-top: 20px;
}
#namebox {
    background-color: #4aaaa5; 
    color: white; 
    width: 15%; 
    text-align: center;
}
.menu-collapse{
    padding-left: 900px;  
}
.non-heading-font {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    color: #62a8a4;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-bottom: 3px solid #dddddd;
}

.backgroundimage {
    height:50px; 
    background-image: url(assets/images/brushed.png);
}

.background {
    background-image: url(/assets/images/brushed.png);
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center; 
    height: 100px;
}

.biography {
    line-height: 2.0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.submit-btn {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.banner-1 {
    background-color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 220px;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 16px;
    transform: translate(15%);
}

.footer-copyright {
    background-color:#666666;
    position: relative;
    height: 40px;
    border-top: 7px solid #4aaaa5;
}

.footer {
    color: white;
    font-size: 10px;
    text-align: center;
    position:relative;
    bottom: -12px;
}


@media screen and (max-width: 640px) {
	position: static;
}

@media screen and (max-width: 768px) {
	

@media screen and (max-width: 980px) {
	
}
