/* Reponsive-portfolio styling */

/* .header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 90px;
} */

.non-heading-font {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    color: #62a8a4;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-bottom: 3px solid #dddddd;
}

.background {
    background-image: url(/assets/images/brushed.png);
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center; 
    height: 100px;
}
/* #menu {
    text-align: right;
    padding-right: 200px;
    padding-top: 40px;
    font-size: 16px;
}




#about-me-box {
    background-color: #ffffff;
    width: 960px;
    border: 2px solid #dddddd;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    padding-top: 10px;
}

#about-me-line {
    height: 0px;
    border-bottom: 3px solid #dddddd;
    width: 900px;
    padding-top: 10px;
}

#about-me-header {
    text-align: left;
    color: #62a8a4;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px; 
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#img {
    float: left;
    padding-right: 20px;
    padding-top: 20px; 
    padding-left: 20px;   
}
*/
.biography {
    line-height: 2.0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/*
#form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

#contact-form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px solid #dddddd;
    font-size: 16px;
}

#message-form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 200px;
    border: 1px solid #dddddd;
}
*/
.submit-btn {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;

}
/*
.grid-2x3 {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.project-tile {
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    font-size: 18px;
}
*/
.banner-1 {
    background-color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 220px;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 16px;
    transform: translate(15%);
}
/*
#proj-1 {
    background-image: url(../images/placeholder.png);
    background-image: url(../images/hangman.png);
}

#proj-2 {
    background-image: url(../images/placeholder.png);
    background-image: url(../images/rpg.jpeg);
}

#proj-3 {
    background-image: url(../images/placeholder.png);
    background-image: url(../images/trivia.jpeg);
}

#proj-4 {
    background-image: url(../images/placeholder.png);
    background-image: url(../images/rock.jpeg);
}

#proj-5 {
    background-image: url(../images/placeholder.png);
    background-image: url(../images/science.jpeg);
}
*/
.footer-copyright {
    background-color:#666666;
    position: relative;
    height: 40px;
    border-top: 7px solid #4aaaa5;
}

.footer {
    color: white;
    font-size: 10px;
    text-align: center;
    position:relative;
    bottom: -12px;
}
/*
.bottom {
    position: absolute;
    bottom: 4px;
    left: 50%;

} */